body{
	background-color: #DDD5CA;
	margin-top: 60px;
}

h4{
	color: #8D4C98;
}

.absentee-render{
	display: flex;
	white-space: nowrap;
	overflow-y: scroll;
	width: 100%;
}

.month:last-of-type{
	margin-bottom: 60px;
}


ul, li{
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.day{
	margin: 8px;
}

.day li{
	margin: 5px 0px;
}

.month h3{
	text-align: center;
	padding: 10px;
	margin: 0px 0px 0px 0px;
	color:#8D4C98;
	background-color: #1E252D;

}

.pholiday{
	font-weight: bold;
	color: #8D4C98;
}

.user{
	color: #8D4C98;
	font-weight: bold;
}

.month-days{
	display: flex;
}

#new-absence{
	margin: 5px 5px 0px 5px;
	background-color: #1E252D;
	color:#8D4C98;
	border: none;
	border-radius: 5px;
	font-weight: bold;
}

#fixed-absence{
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	bottom: 0px;
	height: 60px;
	width: 100%;
	background-color: #1E252D;
	color:#8D4C98;
}

#fixed-absence ul{
	display: flex;
	margin: 0 auto;
}

#fixed-absence li{
	margin: 0px 5px;
	font-size: 1.5vh;
}

#fixed-nav{
	display: flex;
	flex-direction: column;
	text-align: center;
	position: fixed;
	top: 0px;
	height: 60px;
	width: 100%;
	background-color: #1E252D;
}

.prev,.next{
	font-size: 2vh;
}

#fixed-nav button{
	margin: 5px 5px 0px 5px;
	background-color: #1E252D;
	color:#8D4C98;
	border: none;
	font-weight: bold;

}
#navigate-div{
	margin: 0 auto;
}

.button{
	background-color: #1E252D;
	color:#8D4C98;
	border: none;
	font-weight: bold;
	font-size: 20px;
}

form{
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 70%;
	margin: 0 auto;
}

#close{
	float: right;
	color:#8D4C98;
	font-size: xx-large;
}
#user-input{
	align-content: center;
	text-align: center;
}

#user-input h4{
	margin-top: 50px;
}


input, select{
	margin-top: 15px; 
}
